@{
    ViewData["Title"] = "Corporate";
}
<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero_banner" style="background:#fff5eb;">
	<div class="container">
		<!-- Type -->
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="banner-search-2 transparent">
					<h1 class="big-header-capt cl_2 mb-2">Your New<br>Development Skills</h1>
					<p>Study any topic, anytime. Choose from thousands of expert-led courses now.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="flixio pt-5">
					<img class="img-fluid" src="/img/6518.png" alt="">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Trips Facts Start ================================== -->
<div class="trips_wrap full colored">
	<div class="container">
		<div class="row m-0">

			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="trips">
					<div class="trips_icons">
						<i class="ti-video-camera"></i>
					</div>
					<div class="trips_detail">
						<h4>100,000 online courses</h4>
						<p>Nor again is there anyone who loves or pursues or desires</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="trips">
					<div class="trips_icons">
						<i class="ti-medall"></i>
					</div>
					<div class="trips_detail">
						<h4>Expert instruction</h4>
						<p>Nam libero tempore, cum soluta and nobis est eligendi optio</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="trips none">
					<div class="trips_icons">
						<i class="ti-infinite"></i>
					</div>
					<div class="trips_detail">
						<h4>Lifetime access</h4>
						<p>These cases are perfectly simple and easy to distinguish</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- ============================ Trips Facts Start ================================== -->
<!-- ========================== Featured Category Section =============================== -->

<!-- ========================== Featured Category Section =============================== -->
<!-- ============================ Featured Courses Start ================================== -->

<!-- ============================ Featured Courses End ================================== -->
<!-- ========================== About Facts List Section =============================== -->
<section>
	<div class="container">

		<div class="row align-items-center">

			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="about-short">
					<div class="sec-heading mb-3">
						<h2>Know about <span class="theme-cl">e-Learn</span> learning platform</h2>
					</div>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et voluptatem.</p>
					<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut</p>
					<div class="cource_facts">
						<ul>
							<li><span class="theme-cl">7m</span>Active Cources</li>
							<li><span class="theme-cl">77k</span>Student Learning</li>
							<li><span class="theme-cl">84+</span>Free Cources</li>
						</ul>
					</div>
					<a href="#" class="btn btn-modern">Know More<span><i class="ti-arrow-right"></i></span></a>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="list_facts_wrap_img">

					<img src="https://via.placeholder.com/550x490" class="img-fluid" alt="">

				</div>
			</div>

		</div>

	</div>
</section>
<!-- ========================== About Facts List Section =============================== -->

<!-- ============================ Featured Instructor End ================================== -->
<!-- ========================== Articles Section =============================== -->

<!-- ========================== Articles Section =============================== -->
<!-- ========================== Brand Section =============================== -->
